In [1]:
import pandas as pd

#Lets create two series a & b

In [2]:
a = pd.Series([10,20,30,40,50])

In [3]:
b = pd.Series([5,4,3,2,5])

In [4]:
print(a)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
print(b)

0    5
1    4
2    3
3    2
4    5
dtype: int64

#Apply directly with operators

In [6]:
a+b

0    15
1    24
2    33
3    42
4    55
dtype: int64

#This is the other way to get the same output, this isn't direct

In [7]:
a.add(b)

0    15
1    24
2    33
3    42
4    55
dtype: int64

In [8]:
a-b

0     5
1    16
2    27
3    38
4    45
dtype: int64

In [9]:
b-a

0    -5
1   -16
2   -27
3   -38
4   -45
dtype: int64

In [11]:
a.subtract(b)

0     5
1    16
2    27
3    38
4    45
dtype: int64

In [12]:
a*b

0     50
1     80
2     90
3     80
4    250
dtype: int64

In [13]:
a.multiply(b)

0     50
1     80
2     90
3     80
4    250
dtype: int64

In [14]:
a/b

0     2.0
1     5.0
2    10.0
3    20.0
4    10.0
dtype: float64

In [16]:
a.divide(b)

0     2.0
1     5.0
2    10.0
3    20.0
4    10.0
dtype: float64

#The <, >, = will give a boolean value

In [17]:
a<b

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [18]:
a.le(b)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [19]:
a>b

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [20]:
a.gt(b)

0    True
1    True
2    True
3    True
4    True
dtype: bool

#Adding a new series to compare the boolean values

In [22]:
c = pd.Series([5,8,9,6,5])

In [23]:
b>c

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [24]:
b+c

0    10
1    12
2    12
3     8
4    10
dtype: int64

In [25]:
a.add(c)

0    15
1    28
2    39
3    46
4    55
dtype: int64

#Boolean value with the new series

In [26]:
a==c

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [27]:
b==a

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [28]:
c==b

0     True
1    False
2    False
3    False
4     True
dtype: bool

#Key note : Le = (Less than equal to), gt = ( greater than) eq = (Equal)

In [30]:
a.eq(b)

0    False
1    False
2    False
3    False
4    False
dtype: bool

#Power

In [31]:
a**c

0            100000
1       25600000000
2    19683000000000
3        4096000000
4         312500000
dtype: int64

In [32]:
b**c

0     3125
1    65536
2    19683
3       64
4     3125
dtype: int64